bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
.idea
[Bb]uild/
[Ll]og/
[Ll]ogs/
*.exe
*.dll
*.pdb
*.cache
*.config
*.dbmdl
*.bak
*.log
*.vspscc
*.vssscc
*.user
*.suo
*.tmp
*.ide
*.swp
*.sln.iml
*.pid
*.seed
*.pid.lock
*.ns
*.0
*.1
*.2
*.wt
*.bson
*.lock
mongod.lock
storage.bson
journal/
dump/
data/db/
mongodb-data/